body {
    background-color: black;
}

.app-text-font {
    font-family: 'Arial', sans-serif;
    /* color: #333333;  */
    color: white;
}

/* Style for the H1 title */
#main-app-title {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

/* Style for the radio button container */
#region-radio-container {
    text-align: center; /* To center the radio buttons themselves */
    padding: 10px;
    margin-top: 20px;
}

/* Style for the radio container title */
#radio-container-title {
    font-size: 25px;
    display: block;
    padding-bottom: 20px;
}

/* Style for the radio button labels */
#region-radio-buttons label { 
    margin-right: 15px; /* Add some space between radio options */
    font-size: 20px;
}

/* Style for the text of the *selected* radio button */
#region-radio-buttons input[type="radio"]:checked + span {
    color: cyan; /* Highlight text color when selected */
    font-weight: bold; /* Make selected text bold */
}